@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html, body
{
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: #eff4f6;
    text-align: center;
    color: #454545;
}

.loginform
{
    width: 300px;
    max-width: 100%;
    margin: auto;
}

.loginformbox
{
    padding: 15px;
    background: #fff;
    position: relative;
    margin: 0 0 15px 0;
}

.loginform img
{
    width: 100%;
}


.toffset15
{
    margin-top: 15px;
}


.loginform input, .loginform button
{
    border-radius: 0 !important;
}

.loginform .btn-login
{
    background: #475162;
    border: 1px solid #2b323d;
    color: #fff !important;
}


.loginform .btn-login:hover
{
    background: #2b323d;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px;
    color: #a2adb2;
    font-size: 15px;
    line-height: 20px;
}

ul.nav.navbar-nav{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

a {
    color: #0f9045 !important;
}
